# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
.env/
.venv/

# Environment files
.env
.env.*

# Logs
*.log

# IDE / Editor
.vscode/
.idea/
*.swp
.DS_Store

# Cache
*.egg-info/
.eggs/
dist/
build/
